<div class="alert alert-block alert-success">
    <h1 align="center">Pandas Trick 05</h1>
    <h3 align="center">Dataframe Styling</h3>
    <h4 align="center"><a href="http://www.iran-machinelearning.ir">Soheil Tehranipour</a></h5>
</div>

### Importing the libraries

In [1]:
import pandas as pd

In [2]:
pd.__version__

'2.1.4'

## Import Dataset & Make Dataframe

In [3]:
df = pd.read_csv(r'F:\jupyter\educational-\educational\csv\sheil tp\stocks.csv')
df.head()

         Date   Close    Volume Symbol
0  2016-10-03   31.50  14070500   CSCO
1  2016-10-03  112.52  21701800   AAPL
2  2016-10-03   57.42  19189500   MSFT
3  2016-10-04  113.00  29736800   AAPL
4  2016-10-04   57.24  20085900   MSFT

## Dataframe Styling

In [4]:
df.columns

Index(['Date', 'Close', 'Volume', 'Symbol'], dtype='object')

In [5]:
format_dict = {'Close':'${:.2f}', 'Volume':'{:,}'}

In [6]:
df.style.format(format_dict)

In [23]:
styled_df = (df.style.format(format_dict)
            .highlight_min('Close', color='red')
            .highlight_max('Close', color='lightgreen'))

styled_df

In [20]:
df.style.format(format_dict).background_gradient(subset='Volume', cmap='Blues')

In [18]:
(df.style.format(format_dict)
.bar('Volume', color='lightblue', align='zero')
.set_caption('Stock Prices from October 2016')
)

<img src="https://webna.ir/wp-content/uploads/2018/08/%D9%85%DA%A9%D8%AA%D8%A8-%D8%AE%D9%88%D9%86%D9%87.png" width=50% />