<div class="alert alert-block alert-success">
    <h1 align="center">Pandas Trick 18</h1>
    <h3 align="center">Explode in Pandas</h3>
    <h4 align="center"><a href="http://www.iran-machinelearning.ir">Soheil Tehranipour</a></h5>
</div>

### Importing the libraries

In [51]:
import warnings
warnings.filterwarnings("ignore")

In [52]:
import pandas as pd

In [53]:
pd.__version__

'2.2.3'

In [54]:
d = {"Team":["FC Barcelona", "FC Real Madrid"], 
    "Players":[["Ter Stegen", "Semedo", "Piqué", "Lenglet", "Alba", "Rakitic", "De Jong", "Sergi Roberto", "Messi", "Suárez", "Griezmann"], \
               ["Courtois", "Carvajal", "Varane", "Sergio Ramos", "Mendy", "Kroos", "Valverde", "Casemiro", "Isco", "Benzema", "Bale"]]}

In [55]:
#Notice that we have a list of players for each team. Let's generate a row for each player.
df = pd.DataFrame(d)
df

             Team                                            Players
0    FC Barcelona  [Ter Stegen, Semedo, Piqué, Lenglet, Alba, Rak...
1  FC Real Madrid  [Courtois, Carvajal, Varane, Sergio Ramos, Men...

In [56]:
#Using explode to generate new rows for each player
df1 = df.explode("Players").reset_index(drop=True)
df1

              Team        Players
0     FC Barcelona     Ter Stegen
1     FC Barcelona         Semedo
2     FC Barcelona          Piqué
3     FC Barcelona        Lenglet
4     FC Barcelona           Alba
5     FC Barcelona        Rakitic
6     FC Barcelona        De Jong
7     FC Barcelona  Sergi Roberto
8     FC Barcelona          Messi
9     FC Barcelona         Suárez
10    FC Barcelona      Griezmann
11  FC Real Madrid       Courtois
12  FC Real Madrid       Carvajal
13  FC Real Madrid         Varane
14  FC Real Madrid   Sergio Ramos
15  FC Real Madrid          Mendy
16  FC Real Madrid          Kroos
17  FC Real Madrid       Valverde
18  FC Real Madrid       Casemiro
19  FC Real Madrid           Isco
20  FC Real Madrid        Benzema
21  FC Real Madrid           Bale

In [57]:
#Reverse this operation with groupby and agg
df["imploded"] = df1.groupby(df1.index)["Players"].agg(list)
df

,Team,Players,imploded
0,FC Barcelona,"[Ter Stegen, Semedo, Piqué, Lenglet, Alba, Rak...",[Ter Stegen]
1,FC Real Madrid,"[Courtois, Carvajal, Varane, Sergio Ramos, Men...",[Semedo]

<img src="https://webna.ir/wp-content/uploads/2018/08/%D9%85%DA%A9%D8%AA%D8%A8-%D8%AE%D9%88%D9%86%D9%87.png" width=50% />