<div class="alert alert-block alert-success">
    <h1 align="center">Pandas Trick 07</h1>
    <h3 align="center">Rename Columns</h3>
    <h4 align="center"><a href="http://www.iran-machinelearning.ir">Soheil Tehranipour</a></h5>
</div>

### Importing the libraries

In [1]:
import numpy as np
import pandas as pd

In [2]:
pd.__version__

'2.2.3'

## Make Dataframe

In [3]:
pd.DataFrame(np.random.rand(5, 10))

,0,1,2,3,4,5,6,7,8,9
0,0.677800,0.985881,0.440658,0.732246,0.374531,0.321900,0.631327,0.367033,0.202975,0.533362
1,0.468211,0.771010,0.206582,0.029564,0.333752,0.867880,0.038262,0.150478,0.736829,0.800507
2,0.083945,0.596705,0.056065,0.059475,0.320614,0.813052,0.460198,0.880841,0.678886,0.289196
3,0.059417,0.593098,0.319143,0.871632,0.111653,0.137525,0.508540,0.793876,0.914208,0.085998
4,0.029470,0.204572,0.450819,0.389576,0.022729,0.500700,0.910899,0.021427,0.359608,0.292660

In [17]:
pd.DataFrame(np.random.rand(5, 10), columns=list('ABCDEFGHJK'))

,A,B,C,D,E,F,G,H,J,K
0,0.809749,0.260011,0.428523,0.320144,0.770879,0.471842,0.645507,0.605456,0.100459,0.494804
1,0.552011,0.225578,0.379333,0.837057,0.011610,0.219963,0.570377,0.895722,0.244745,0.105376
2,0.211147,0.019733,0.561244,0.171859,0.270209,0.691706,0.013822,0.039752,0.098941,0.678779
3,0.365622,0.274357,0.373239,0.796521,0.149208,0.641758,0.885625,0.304979,0.352860,0.434162
4,0.083868,0.105557,0.259209,0.124015,0.151212,0.973720,0.847666,0.488083,0.735994,0.494058

## Another Solution

In [5]:
df = pd.DataFrame({'column one':[10, 20], 'column two':[30, 40]})
df

   column one  column two
0          10          30
1          20          40

In [6]:
df = df.rename({'column one':'column_one', 'column two':'column_two'}, axis='columns')
df.head()

   column_one  column_two
0          10          30
1          20          40

In [22]:
df.columns = ['col_one', 'col_two']

In [23]:
df.columns = df.columns.str.replace('col_one', ' ghd')

In [24]:
df

    ghd  col_two
0    10       30
1    20       40

In [25]:
df.add_prefix('X_')

   X_ ghd  X_col_two
0      10         30
1      20         40

In [26]:
df.add_suffix('_Y')

    ghd_Y  col_two_Y
0      10         30
1      20         40

<img src="https://webna.ir/wp-content/uploads/2018/08/%D9%85%DA%A9%D8%AA%D8%A8-%D8%AE%D9%88%D9%86%D9%87.png" width=50% />