<div class="alert alert-block alert-success">
    <h1 align="center">Pandas Trick 20</h1>
    <h3 align="center">Diff in Pandas</h3>
    <h4 align="center"><a href="http://www.iran-machinelearning.ir">Soheil Tehranipour</a></h5>
</div>

### Importing the libraries

In [16]:
import warnings
warnings.filterwarnings("ignore")

In [17]:
import numpy as np
import pandas as pd

In [18]:
pd.__version__

'2.2.3'

### Generate Random Data

In [19]:
def generate_sample_data(): # creates a fake df for testing
    number_or_rows = 25
    num_cols = 6
    cols = list("ABCDEF")
    df = pd.DataFrame(np.random.randint(1, 25, size = (number_or_rows, num_cols)), columns=cols)
    df.index = range(number_or_rows)
    return df

In [20]:
df = generate_sample_data()
df

     A   B   C   D   E   F
0   17  24   6  12  16  23
1    8   9  10  24  18   9
2    2  12   1   7  22  22
3    6   7  18  17  11  21
4   10   1  10  13   9  15
5    3  12   5   2   5   2
6   21  20   1  23   3  19
7    9  18  21  17  10  21
8   11  18   8   4   5  17
9    8  15  23  23  20  12
10  19  10   5   8  15   6
11  22  18  15  14   5   4
12  17   4   7  17   8  19
13  13  11  13   6  20  11
14   8  23  14   8  16  17
15   4  19  21   8  16   2
16   4  15   2  17  13   5
17   5  14  10  11  20   4
18   3   5  11  17   5   9
19  24  18  22  11   3  22
20  14   3  15  11  12   6
21  23  17   9   3  18  12
22   1   4  23   6   1  22
23  11  13   3  14   5  18
24  10  12  24  10  16  14

In [21]:
df["A_diff"] = df["A"].diff() # calculate the difference between 2 rows
df

     A   B   C   D   E   F  A_diff
0   17  24   6  12  16  23     NaN
1    8   9  10  24  18   9    -9.0
2    2  12   1   7  22  22    -6.0
3    6   7  18  17  11  21     4.0
4   10   1  10  13   9  15     4.0
5    3  12   5   2   5   2    -7.0
6   21  20   1  23   3  19    18.0
7    9  18  21  17  10  21   -12.0
8   11  18   8   4   5  17     2.0
9    8  15  23  23  20  12    -3.0
10  19  10   5   8  15   6    11.0
11  22  18  15  14   5   4     3.0
12  17   4   7  17   8  19    -5.0
13  13  11  13   6  20  11    -4.0
14   8  23  14   8  16  17    -5.0
15   4  19  21   8  16   2    -4.0
16   4  15   2  17  13   5     0.0
17   5  14  10  11  20   4     1.0
18   3   5  11  17   5   9    -2.0
19  24  18  22  11   3  22    21.0
20  14   3  15  11  12   6   -10.0
21  23  17   9   3  18  12     9.0
22   1   4  23   6   1  22   -22.0
23  11  13   3  14   5  18    10.0
24  10  12  24  10  16  14    -1.0

In [22]:
 # calculates the porcentual variation between 2 rows
df["A_Diff_Percent"] = df["A"].pct_change()*100
df

     A   B   C   D   E   F  A_diff  A_Diff_Percent
0   17  24   6  12  16  23     NaN             NaN
1    8   9  10  24  18   9    -9.0      -52.941176
2    2  12   1   7  22  22    -6.0      -75.000000
3    6   7  18  17  11  21     4.0      200.000000
4   10   1  10  13   9  15     4.0       66.666667
5    3  12   5   2   5   2    -7.0      -70.000000
6   21  20   1  23   3  19    18.0      600.000000
7    9  18  21  17  10  21   -12.0      -57.142857
8   11  18   8   4   5  17     2.0       22.222222
9    8  15  23  23  20  12    -3.0      -27.272727
10  19  10   5   8  15   6    11.0      137.500000
11  22  18  15  14   5   4     3.0       15.789474
12  17   4   7  17   8  19    -5.0      -22.727273
13  13  11  13   6  20  11    -4.0      -23.529412
14   8  23  14   8  16  17    -5.0      -38.461538
15   4  19  21   8  16   2    -4.0      -50.000000
16   4  15   2  17  13   5     0.0        0.000000
17   5  14  10  11  20   4     1.0       25.000000
18   3   5  11  17   5   9    -2.0      -40.000000
19  24  18  22  11   3  22    21.0      700.000000
20  14   3  15  11  12   6   -10.0      -41.666667
21  23  17   9   3  18  12     9.0       64.285714
22   1   4  23   6   1  22   -22.0      -95.652174
23  11  13   3  14   5  18    10.0     1000.000000
24  10  12  24  10  16  14    -1.0       -9.090909

<img src="https://webna.ir/wp-content/uploads/2018/08/%D9%85%DA%A9%D8%AA%D8%A8-%D8%AE%D9%88%D9%86%D9%87.png" width=50% />