
<div dir="rtl"> 

# لازمه های داده مرتب
+ داده های ستون شامل یک نوع متغیر باشد
+ داده های سطری داده های یک مشاهده یا واقعه باشد
+ هر دسته مشاهدات یک جدول را تشکیل می دهد (نام گزاری بر جدول)

</div>

In [1]:
import pandas as pd

In [2]:
my_list = [1,3,5,3,2]

In [3]:
my_list[1]

3

In [4]:
first_series= pd.Series(my_list, index = [12431,12451,1345,1346,347458], name = "Family")

In [5]:
first_series

12431     1
12451     3
1345      5
1346      3
347458    2
Name: Family, dtype: int64

In [6]:
first_series.index

Index([12431, 12451, 1345, 1346, 347458], dtype='int64')

In [7]:
first_series.values

array([1, 3, 5, 3, 2], dtype=int64)

In [8]:
first_series.head(2)

12431    1
12451    3
Name: Family, dtype: int64

In [9]:
ages= [12,13,14,16,12]
height= [165,145,170,149,169]
weight= [45,23,35,60,32]

In [10]:
data_dict = dict(zip(["a" , "b", "c"] , [ages, height, weight]))

In [11]:
data_dict

{'a': [12, 13, 14, 16, 12],
 'b': [165, 145, 170, 149, 169],
 'c': [45, 23, 35, 60, 32]}

In [12]:
df = pd.DataFrame(data_dict, )

In [13]:
df

    a    b   c
0  12  165  45
1  13  145  23
2  14  170  35
3  16  149  60
4  12  169  32

In [14]:
type (df['a'])

pandas.core.series.Series

In [17]:
observation_list = []

for i in range(len(ages)) :
    this_list = [ages[i], height[i], weight[i]]
    observation_list.append(this_list)

In [18]:
observation_list

[[12, 165, 45], [13, 145, 23], [14, 170, 35], [16, 149, 60], [12, 169, 32]]

In [19]:
df2 = pd.DataFrame(observation_list, columns=['a','b','c'])

In [20]:
df2

    a    b   c
0  12  165  45
1  13  145  23
2  14  170  35
3  16  149  60
4  12  169  32

In [24]:
multi_index = pd.MultiIndex.from_tuples([("A" , 1),("A" , 2),
                                        ("A" , 3),("B" , 1),
                                        ("B" , 2),], names=["Class", "Rotbeh"])

In [25]:
df3= pd.DataFrame(observation_list, columns=['a','b','c'] , index = multi_index)

In [26]:
df3

               a    b   c
Class Rotbeh
A     1       12  165  45
      2       13  145  23
      3       14  170  35
B     1       16  149  60
      2       12  169  32