In [1]:
import pandas as pd


df= pd.read_excel("./Data/CarsENCols.xlsx" , index_col = 0 )

In [2]:
df.head(2)

,Date,Milage,VIN,Made,Model,Type,Price,Order,Explain
index,,,,,,,,,
0,1400-1-تیر,24393.0,NA0000000000000200,سایپا,پراید,Hatchback,17049382.0,17000000.0,بی رنگ
1,1400-2-تیر,18177.0,NA0000000000000201,سایپا,پراید,Hatchback,20059011.0,17000000.0,بیرنگ

In [15]:
df[df['Explain'].str.contains( 'بی *ر' , na=False, regex=True)]

,Date,Milage,VIN,Made,Model,Type,Price,Order,Explain
index,,,,,,,,,
0,1400-1-تیر,24393.0,NA0000000000000200,سایپا,پراید,Hatchback,17049382.0,17000000.0,بی رنگ
1,1400-2-تیر,18177.0,NA0000000000000201,سایپا,پراید,Hatchback,20059011.0,17000000.0,بیرنگ
6,1400-7-تیر,26879.0,NA0000000000000206,سایپا,پراید,Hatchback,21739503.0,17000000.0,بی رنگ
7,1400-8-تیر,26333.0,NA0000000000000207,سایپا,پراید,Hatchback,18421285.0,17000000.0,بی رنگ
15,1400-16-تیر,18023.0,NA0000000000000215,سایپا,پراید,Sedan,16629197.0,15000000.0,بی رنگ
...,...,...,...,...,...,...,...,...,...
188,1400-3-مرداد,27826.0,NA0000000000000388,ایرانخودرو,پژو206,Sedan,29021040.0,21000000.0,بی رنگ
189,1400-4-مرداد,30652.0,NA0000000000000389,ایرانخودرو,پژو206,Sedan,26523710.0,21000000.0,بی رنگ
190,1400-5-مرداد,17775.0,NA0000000000000390,ایرانخودرو,پژو206,Sedan,25947789.0,21000000.0,بی رنگ
191,1400-6-مرداد,18297.0,NA0000000000000391,ایرانخودرو,پژو206,Sedan,26074315.0,21000000.0,بیرنگ
196,1400-11-مرداد,27363.0,NA0000000000000396,ایرانخودرو,پژو206,Sedan,25025798.0,21000000.0,بی رنگ