In [1]:
import pandas as pd


df = pd.read_excel("./Data/CarsENCols.xlsx" , index_col = 0)

In [2]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 197 entries, 0 to 196
Data columns (total 9 columns):
 #   Column   Non-Null Count  Dtype
---  ------   --------------  -----
 0   Date     193 non-null    object
 1   Milage   196 non-null    float64
 2   VIN      196 non-null    object
 3   Made     194 non-null    object
 4   Model    195 non-null    object
 5   Type     196 non-null    object
 6   Price    194 non-null    float64
 7   Order    195 non-null    float64
 8   Explain  193 non-null    object
dtypes: float64(3), object(6)
memory usage: 15.4+ KB

In [7]:
df.dropna(subset = ["Date" , "Milage" , "VIN"] , axis= 0 , inplace = True)

In [8]:
df.shape

(191, 9)

In [10]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 191 entries, 0 to 196
Data columns (total 9 columns):
 #   Column   Non-Null Count  Dtype
---  ------   --------------  -----
 0   Date     191 non-null    object
 1   Milage   191 non-null    float64
 2   VIN      191 non-null    object
 3   Made     190 non-null    object
 4   Model    191 non-null    object
 5   Type     190 non-null    object
 6   Price    189 non-null    float64
 7   Order    189 non-null    float64
 8   Explain  188 non-null    object
dtypes: float64(3), object(6)
memory usage: 14.9+ KB

In [16]:
df[df['Made'].isnull()]

Empty DataFrame
Columns: [Date, Milage, VIN, Made, Model, Type, Price, Order, Explain]
Index: []

In [13]:
df['Made'].unique()

array(['سایپا', 'ایرانخودرو', nan], dtype=object)

In [14]:
df.at[136 , 'Made'] = 'سایپا'

In [15]:
df['Made'].unique()

array(['سایپا', 'ایرانخودرو'], dtype=object)

In [17]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 191 entries, 0 to 196
Data columns (total 9 columns):
 #   Column   Non-Null Count  Dtype
---  ------   --------------  -----
 0   Date     191 non-null    object
 1   Milage   191 non-null    float64
 2   VIN      191 non-null    object
 3   Made     191 non-null    object
 4   Model    191 non-null    object
 5   Type     190 non-null    object
 6   Price    189 non-null    float64
 7   Order    189 non-null    float64
 8   Explain  188 non-null    object
dtypes: float64(3), object(6)
memory usage: 19.0+ KB

In [18]:
df[df['Type'].isnull()]

,Date,Milage,VIN,Made,Model,Type,Price,Order,Explain
index,,,,,,,,,
164,1400-10-شهریور,20772.0,NA0000000000000364,ایرانخودرو,پژو206,NaN,25266099.0,22000000.0,NaN

In [19]:
df['Type'].unique()

array(['Hatchback', 'Sedan', nan], dtype=object)

In [21]:
df.pivot_table(columns= ['Model', 'Type'] , values= 'Order')

Model       پراید                    پژو206
Type    Hatchback       Sedan     Hatchback       Sedan
Order  17000000.0  15000000.0  2.111864e+07  21000000.0

In [23]:
df[df['Model'] == 'پژو206']['Order'].unique()

array([20000000., 22000000., 21000000.])

In [24]:
df.at[164, "Type"] = 'Hatchback'

In [25]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 191 entries, 0 to 196
Data columns (total 9 columns):
 #   Column   Non-Null Count  Dtype
---  ------   --------------  -----
 0   Date     191 non-null    object
 1   Milage   191 non-null    float64
 2   VIN      191 non-null    object
 3   Made     191 non-null    object
 4   Model    191 non-null    object
 5   Type     191 non-null    object
 6   Price    189 non-null    float64
 7   Order    189 non-null    float64
 8   Explain  188 non-null    object
dtypes: float64(3), object(6)
memory usage: 19.0+ KB

In [34]:
df.fillna(method='ffill').tail(50)

C:\Users\Esfandiari\AppData\Local\Temp\ipykernel_3028\1665900036.py:1: FutureWarning: DataFrame.fillna with 'method' is deprecated and will raise in a future version. Use obj.ffill() or obj.bfill() instead.
  df.fillna(method='ffill').tail(50)

,Date,Milage,VIN,Made,Model,Type,Price,Order,Explain
index,,,,,,,,,
143,1400-20-مرداد,12063.0,NA0000000000000343,سایپا,پراید,Sedan,15212143.0,15000000.0,تصادف
144,1400-21-مرداد,11523.0,NA0000000000000344,سایپا,پراید,Sedan,17036220.0,15000000.0,تصادف
145,1400-22-مرداد,14689.0,NA0000000000000345,سایپا,پراید,Sedan,14827576.0,15000000.0,پوسیدگی
146,1400-23-مرداد,17956.0,NA0000000000000346,سایپا,پراید,Sedan,16981738.0,15000000.0,بی رنگ
147,1400-24-مرداد,20449.0,NA0000000000000347,سایپا,پراید,Sedan,16528836.0,15000000.0,بیرنگ
148,1400-25-مرداد,23776.0,NA0000000000000348,سایپا,پراید,Sedan,13682725.0,15000000.0,زدگی
149,1400-26-مرداد,24675.0,NA0000000000000349,سایپا,پراید,Sedan,14340986.0,15000000.0,تصادف
150,1400-27-مرداد,25088.0,NA0000000000000350,سایپا,پراید,Sedan,16217214.0,15000000.0,بدون تصادف
151,1400-28-مرداد,28728.0,NA0000000000000351,سایپا,پراید,Sedan,15178970.0,15000000.0,فابریک
152,1400-29-مرداد,13831.0,NA0000000000000352,سایپا,پراید,Sedan,16797426.0,15000000.0,بی رنگ
153,1400-30-مرداد,19264.0,NA0000000000000353,سایپا,پراید,Sedan,16131346.0,15000000.0,بی رنگ
155,1400-1-شهریور,11594.0,NA0000000000000355,ایرانخودرو,پژو206,Hatchback,27949928.0,20000000.0,فابریک
156,1400-2-شهریور,22234.0,NA0000000000000356,ایرانخودرو,پژو206,Hatchback,28161066.0,20000000.0,بدون تصادف
157,1400-3-شهریور,20752.0,NA0000000000000357,ایرانخودرو,پژو206,Hatchback,28293284.0,20000000.0,تصادف
158,1400-4-شهریور,20950.0,NA0000000000000358,ایرانخودرو,پژو206,Hatchback,26255641.0,20000000.0,تصادف
159,1400-5-شهریور,25390.0,NA0000000000000359,ایرانخودرو,پژو206,Hatchback,28080882.0,20000000.0,تصادف جزیی
160,1400-6-شهریور,25585.0,NA0000000000000360,ایرانخودرو,پژو206,Hatchback,25916164.0,20000000.0,پوسیدگی
161,1400-7-شهریور,27423.0,NA0000000000000361,ایرانخودرو,پژو206,Hatchback,25916164.0,20000000.0,بیرنگ
162,1400-8-شهریور,9847.0,NA0000000000000362,ایرانخودرو,پژو206,Hatchback,26457388.0,20000000.0,بدون رنگ
163,1400-9-شهریور,13314.0,NA0000000000000363,ایرانخودرو,پژو206,Hatchback,28064706.0,22000000.0,بی رنگ
164,1400-10-شهریور,20772.0,NA0000000000000364,ایرانخودرو,پژو206,Hatchback,25266099.0,22000000.0,بی رنگ
167,1400-13-شهریور,21814.0,NA0000000000000367,ایرانخودرو,پژو206,Hatchback,27587642.0,22000000.0,بی رنگ
168,1400-14-شهریور,22139.0,NA0000000000000368,ایرانخودرو,پژو206,Hatchback,25014999.0,22000000.0,بی رنگ
169,1400-15-شهریور,23386.0,NA0000000000000369,ایرانخودرو,پژو206,Hatchback,25151254.0,22000000.0,بیرنگ
170,1400-16-شهریور,23840.0,NA0000000000000370,ایرانخودرو,پژو206,Hatchback,25553630.0,22000000.0,زدگی
171,1400-17-شهریور,24862.0,NA0000000000000371,ایرانخودرو,پژو206,Hatchback,26096852.0,22000000.0,تصادف
172,1400-18-شهریور,28513.0,NA0000000000000372,ایرانخودرو,پژو206,Hatchback,27117654.0,22000000.0,بدون تصادف
173,1400-19-شهریور,17391.0,NA0000000000000373,ایرانخودرو,پژو206,Hatchback,25906747.0,22000000.0,فابریک
174,1400-20-شهریور,19122.0,NA0000000000000374,ایرانخودرو,پژو206,Hatchback,25187050.0,22000000.0,بی رنگ
175,1400-21-شهریور,19407.0,NA0000000000000375,ایرانخودرو,پژو206,Sedan,25724935.0,21000000.0,بی رنگ
176,1400-22-شهریور,26162.0,NA0000000000000376,ایرانخودرو,پژو206,Sedan,25461984.0,21000000.0,فابریک
178,1400-24-شهریور,26783.0,NA0000000000000378,ایرانخودرو,پژو206,Sedan,25315562.0,21000000.0,بدون تصادف
179,1400-25-شهریور,27562.0,NA0000000000000379,ایرانخودرو,پژو206,Sedan,27510484.0,21000000.0,تصادف
180,1400-26-شهریور,30379.0,NA0000000000000380,ایرانخودرو,پژو206,Sedan,26324125.0,21000000.0,تصادف
181,1400-27-شهریور,31414.0,NA0000000000000381,ایرانخودرو,پژو206,Sedan,29657482.0,21000000.0,تصادف جزیی
182,1400-28-شهریور,4863.0,NA0000000000000382,ایرانخودرو,پژو206,Sedan,26671985.0,21000000.0,پوسیدگی
183,1400-29-شهریور,19112.0,NA0000000000000383,ایرانخودرو,پژو206,Sedan,28726761.0,21000000.0,بیرنگ
184,1400-30-شهریور,24409.0,NA0000000000000384,ایرانخودرو,پژو206,Sedan,24455563.0,21000000.0,بدون رنگ
185,1400-31-شهریور,23913.0,NA0000000000000385,ایرانخودرو,پژو206,Sedan,29906125.0,21000000.0,بی رنگ
186,1400-1-مرداد,27793.0,NA0000000000000386,ایرانخودرو,پژو206,Sedan,26790004.0,21000000.0,بی رنگ
187,1400-2-مرداد,27614.0,NA0000000000000387,ایرانخودرو,پژو206,Sedan,26827473.0,21000000.0,بی رنگ
188,1400-3-مرداد,27826.0,NA0000000000000388,ایرانخودرو,پژو206,Sedan,29021040.0,21000000.0,بی رنگ
189,1400-4-مرداد,30652.0,NA0000000000000389,ایرانخودرو,پژو206,Sedan,26523710.0,21000000.0,بی رنگ
190,1400-5-مرداد,17775.0,NA0000000000000390,ایرانخودرو,پژو206,Sedan,25947789.0,21000000.0,بی رنگ
191,1400-6-مرداد,18297.0,NA0000000000000391,ایرانخودرو,پژو206,Sedan,26074315.0,21000000.0,بیرنگ
192,1400-7-مرداد,20468.0,NA0000000000000392,ایرانخودرو,پژو206,Sedan,27423787.0,21000000.0,زدگی
193,1400-8-مرداد,20747.0,NA0000000000000393,ایرانخودرو,پژو206,Sedan,25184712.0,21000000.0,تصادف
194,1400-9-مرداد,20397.0,NA0000000000000394,ایرانخودرو,پژو206,Sedan,23437833.0,21000000.0,بدون تصادف
195,1400-10-مرداد,24358.0,NA0000000000000395,ایرانخودرو,پژو206,Sedan,29411805.0,21000000.0,فابریک
196,1400-11-مرداد,27363.0,NA0000000000000396,ایرانخودرو,پژو206,Sedan,25025798.0,21000000.0,بی رنگ

In [38]:
df.dropna().to_excel("./Data/CleanData.xlsx")

In [40]:
df.dropna(inplace =True)

In [41]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 184 entries, 0 to 196
Data columns (total 9 columns):
 #   Column   Non-Null Count  Dtype
---  ------   --------------  -----
 0   Date     184 non-null    object
 1   Milage   184 non-null    float64
 2   VIN      184 non-null    object
 3   Made     184 non-null    object
 4   Model    184 non-null    object
 5   Type     184 non-null    object
 6   Price    184 non-null    float64
 7   Order    184 non-null    float64
 8   Explain  184 non-null    object
dtypes: float64(3), object(6)
memory usage: 14.4+ KB

In [42]:
df_clean = pd.read_excel("./Data/CleanData.xlsx")

In [43]:
df_clean.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 184 entries, 0 to 183
Data columns (total 10 columns):
 #   Column   Non-Null Count  Dtype
---  ------   --------------  -----
 0   index    184 non-null    int64
 1   Date     184 non-null    object
 2   Milage   184 non-null    int64
 3   VIN      184 non-null    object
 4   Made     184 non-null    object
 5   Model    184 non-null    object
 6   Type     184 non-null    object
 7   Price    184 non-null    int64
 8   Order    184 non-null    int64
 9   Explain  184 non-null    object
dtypes: int64(4), object(6)
memory usage: 14.5+ KB